$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 782px,
  lg: 992px,
  xl: 1372px,
  xxl: 1460px,
  max: 2560px,
); 

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1340px
);

$grid-gutter-width: 60px;

$spacer: 32px;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;