$green-dark: #02381f;
$green-alternate: #03502c;
$green-light: #DEEFDB;
$green-lighter: #cfded7;
$green-pointer: #96c4af;

$gold-btn: #BDAC73;
$gold-alternate: #e2cb7d;
$gold: #a78000;
$gold-piedmont: #b5a36a;
$gold-hover: #FFC431;
$copper-bg: #653200;

$grey: #eeeeee;
$dark-10-grey: #707070;
$dark-15-grey: #676767;
$dark-20-grey: #585858;
$white: #FFFFFF;

$grey-border: #B4B4B4;