.accordion {
	&__item {
		border-bottom: 8px solid $grey;
		margin-bottom: 15px;
		background-color: #F8F8F8;
		transition: border-color 0.3s;
		
		@include media-breakpoint-up(md) {
			margin-bottom: 23px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item-heading {
		display: block;
		width: 100%;
		background-color: transparent;
		border: none;
		text-align: left;
		padding: 14px 22px;
		font-size: 26px;
		line-height: 1.78;
		font-weight: 700;
		transition: padding 0.3s, background-color 0.3s;
		position: relative;
		color: $green-dark;
		
		@include media-breakpoint-up(md) {
			font-size: 32px;
			padding: 18px 27px;
		}

		&::after {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			border-width: 4px 4px 0 0;
			border-color: #808080;
			border-style: solid;
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%) rotate(135deg);
			transition: transform 0.3s;
			
			@include media-breakpoint-up(md) {
				border-width: 6px 6px 0 0;
				right: 40px;
			}
		}

		&.collapsed {
			color: $dark-15-grey;
			&::after {
				transform: translateY(-50%) rotate(45deg);
			}
		}
	}

	&__item-content {
		padding: 8px 50px 30px;
		font-size: 16px;
		line-height: 1.67;
		
		@include media-breakpoint-up(md) {
			font-size: 18px;
			padding: 10px 73px 40px;
		}
	}
}