.articles-browser {
    &__nav {
        margin-bottom: 25px;
        
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 64px;
        }
    }

    &__cat-picker {
        min-width: 190px;
        border-bottom: 1px solid $green-lighter;
    }

    &__heading {
        font-size: 32px;
        line-height: 36px;
        font-weight: 900;
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        &::after {
            background-color: $gold-alternate;
        }
    }
}