//Default spacings for common blocks

.entry-content {
    > [class^='wp-block-'] {
        margin-top: 30px;
        margin-bottom: 30px;
        @include media-breakpoint-up(md) {
            margin-top: 100px;
            margin-bottom: 100px;
        }
        &:first-child {
            margin-top: 0;
        }

        &.wp-block-buttons{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    > .wp-block-group,
    .wp-block-media-text {
        margin-top: 60px;
        margin-bottom: 60px;
        @include media-breakpoint-up(md) {
            margin-top: 120px;
            margin-bottom: 120px;
        }
    }
    > .wp-block-columns {
        margin-top: 40px;
        margin-bottom: 40px;
        @include media-breakpoint-up(md) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
        > .wp-block-column > {
            :first-child {
                margin-top: 0px;
            }
            :last-child {
                margin-bottom: 0px;
            }
        }
    }
    > %root-block-no-margin {
        margin-top: 0;
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.wp-block-cover, .wp-block-group.has-background {
    @extend %root-block-no-margin;
    padding-top: 50px;
    padding-bottom: 0;
    @include media-breakpoint-up(md) {
        padding-top: 100px;
    }
    [class*="__inner-container"] &, .wp-block-column & {
        padding-top: 45px;
        padding-bottom: 45px;
        min-height: 0px;
    }
}

.wp-block-group, .wp-block-cover {
    [class*="__inner-container"] > {
        [class*='wp-block']:not(.has-background):not(.has-background-dim) {
            &:not(:first-child) {
                margin-top: 20px;
                @include media-breakpoint-up('md') {
                    margin-top: 40px;
                }
            }
            &:not(:last-child) {
                margin-bottom: 20px;
                @include media-breakpoint-up('md') {
                    margin-bottom: 40px;
                }
            }
        }
        :first-child {
            margin-top: 0px;
        }
        :last-child {
            margin-bottom: 0px;
        }
    }
}

.is-style-narrow {
    [class*="__inner-container"]{
        max-width: 600px;
    }
}

.wp-block-group {
    &:first-child > .wp-block-group__inner-container > .wp-block-image + * {
        margin-top: 0px;
    }

    &.is-style-bg-topography {
        padding: 65px 0 80px;
        position: relative;

        &:before {
            background-image: url("../img/topo2.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: cover;
            content: '';
            display: block;
            height: 100%;
            mix-blend-mode: multiply;
            opacity: 0.45;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            @media
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: url("../img/topo2@2x.png");
            }
        }

        .wp-block-group__inner-container {
            position: relative;
            padding: 0;
        }

        @include media-breakpoint-up('md') {
            padding: 65px 0 0;
            > .wp-block-group__inner-container {
                padding: 0 20px;
            }
        }
    }

    &.is-style-you-ready {
        margin-bottom: 0;
        padding-top: 30px;
        position: relative;

        p {
            padding: 20px;
        }

        &:after {
            background-color: #03502c;
            border-left: 2px solid #03502c;
            content: '';
            height: 60px;
            left: 50%;
            position: absolute;
            top: 85px;
            width: 2px;
            z-index: 1;
        }

        .wp-block-group__inner-container {
            position: relative;

            h2 {
                margin-bottom: 30px;
                text-align: center;
            }

            > figure {
                display: flex;
                height: 100%;
                left: 0;
                margin-top: 0 !important;
                max-width: 840px;
                position: relative;
                width: 100%;

                img {
                    align-self: center;
                    flex-basis: 0;
                    height: auto;
                    max-width: 100%;
                    width: auto;
                }
            }

            > .wp-block-buttons {
                margin-top: 0 !important;
                padding-left: 40px;
                padding-right: 40px;
            }

            > .wp-block-columns {
                margin-bottom: 0 !important;
                margin-top: 0 !important;
                position: relative;
                z-index: 2;

                > .wp-block-column {

                    &:first-child {
                        flex-basis: 70%;
                        max-width: 775px;
                    }

                    &:last-child {
                        flex-basis: 0;
                    }

                    > .wp-block-group:not(.is-style-button-holder):not(.is-style-background--textured) {
                        margin-top: 0 !important;
                        padding: 20px 0 0 !important;
                    }

                }

                .wp-block-columns {
                    .wp-block-column {
                        padding: 35px;
                        h3 {
                            color: $green-light;
                        }

                        &:first-child {
                            background: $green-dark;
                        }

                        &:last-child {
                            background: $green-alternate;
                            margin-left: 0;
                        }
                    }
                }
            }
            @include media-breakpoint-down('md') {
                h2,
                h3,
                .wp-block-buttons,
                .wp-block-button,
                .wp-block-button__link{
                    text-align: center;
                    width: 100%;
                }

                > .wp-block-columns {
                    > .wp-block-column {
                        > .wp-block-columns {
                            margin-bottom: 0 !important;
                        }
                    }
                }

            }
        }
        @include media-breakpoint-up('md') {
            margin-bottom: 70px !important;
            margin-top: 120px !important;
            padding-bottom: 60px !important;
            &:after {
                bottom: -100px;
                height: 230px;
                top: unset;
            }

            > .wp-block-group__inner-container {
                &:before {
                    border-top: 6px solid #03502C;
                    content: '';
                    height: 6px;
                    left: calc( 100% - 100vw);
                    position: absolute;
                    top: 55px;
                    width: calc(100vw - 101%);
                }
            }

            .wp-block-group__inner-container {
                padding: 20px 0;

                h2{
                    text-align: left;
                }

                > figure {
                    left: 50%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 0;
                }

                > .wp-block-columns {
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }
        }
    }

    &.is-style-why-piedmont {
        margin: 150px auto 0 !important;
        z-index: 2;
        .wp-block-group__inner-container {
            padding: 0;
            z-index: 1;
            > figure {
                left: 0;
                margin-top: 0 !important;
                max-width: 840px;
                position: relative;
                top: 0;
                width: 100%;
                z-index: -1;
                img {
                    bottom: 0;
                    display: block;
                    left: 0;
                    position: relative;
                    right: 0;
                    top: 0;
                    width: 100%;
                }
            }
        }
        .wp-block-buttons {
            .wp-block-button {
                margin: 0;
            }
        }
        .wp-block-columns {
            margin-bottom: 0 !important;
            .wp-block-column {
                margin-left: 0;
                &:first-child {
                    align-self: flex-start;
                    background: $white;
                    margin-bottom: 6px;
                    padding-top: 45px;
                    padding-bottom: 45px;
                    position: relative;
                    > .wp-block-buttons {
                        margin: 15px 0 0;
                    }
                    @include media-breakpoint-up('md') {
                        margin-bottom: 0;
                        &:after {
                            border-bottom: 6px solid #fff;
                            bottom: -6px;
                            content: '';
                            position: absolute;
                            right: -60%;
                            width: 160%;
                        }
                    }
                }
                &:last-child {
                    @extend .has-green-pearl-gradient-background;
                    .wp-block-buttons {
                        margin: 20px 0;
                    }
                }
                @include media-breakpoint-down('md') {
                    flex-basis: 100%!important;
                }
            }
        }
        .wp-block-cover {
            padding-left: 0;
            padding-right: 0;
            .wp-block-cover__inner-container {
                height: 100%;
                width: 100%;
            }
            &.has-background-gradient {
                background-position: right 90px;
                background-repeat: no-repeat;
                background-size: contain;
                mix-blend-mode: multiply;
                margin-bottom: 15px;

                .wp-block-cover__inner-container > .wp-block-group {
                    margin-top: 250px;
                }

                @include media-breakpoint-up('md') {
                    background-position: right -155px;
                }

            }
        }
        .wp-block-cover .wp-block-cover__inner-container,
        .wp-block-column:first-child,
        .wp-block-cover.has-background-gradient .wp-block-group__inner-container
        {

            > h3,
            > p,
            > div.wp-block-buttons {
                padding: 0 15px;
                width: 100%;
                .wp-block-button,
                .wp-block-button__link {
                    width: 100%;
                }
                @include media-breakpoint-up('md') {
                    margin: 20px 0 0;
                    padding: 0 10px 0 40px;
                    .wp-block-button,
                    .wp-block-button__link {
                        width: auto;
                    }
                }
            }

            h3 {
                margin: 0 0 20px 0;
                text-align: center;
                @include media-breakpoint-up('md') {
                    margin: 5px 0 20px;
                    text-align: left;
                }
            }

            h3:not(.has-text-color),
            > p {
                color: $green-dark;
            }

        }
        @include media-breakpoint-up('md') {
            padding: 0;
            > .wp-block-group__inner-container {
                > figure {
                    left: -200px;
                    position: absolute;
                    top: 40%;
                }
            }
        }
    }

    &.is-style-home-image-overlap {
        padding-bottom: 0;
        position: relative;
        margin-top: 0 !important;
        &:after {
            background: url("../img/white-bg-image.png") no-repeat left top;
            background-size: cover;
            bottom: -55px;
            content: '';
            display: block;
            height: 75px;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 0;
        }
        .wp-block-group__inner-container {
            padding: 0;
            position: relative;
            > .wp-block-columns {
                left: 0;
                position: relative;
                width: 100%;
                > .wp-block-column {
                    &:first-child {
                        display: none;
                        flex-basis: auto;
                        z-index: 1;
                        figure {
                            margin-top: 40px;
                        }
                        img {
                            max-height: 666px;
                            object-fit: cover;
                        }
                    }
                    &:last-child {
                        flex-basis: 57.75%;
                        margin-left: 0;
                        position: relative;
                        > figure {
                            position: relative;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-up('md') {
            .wp-block-group__inner-container {
                > .wp-block-columns {
                    left: -200px;
                    width: calc(100% + 200px);
                    > .wp-block-column {
                        &:first-child {
                            display: block;
                        }
                    }
                }
            }
            &:after {
                background: url("../img/white-bg-image@2x.png") no-repeat left top;
                background-size: cover;
                bottom: 0;
                left: 15%;
            }

        }
        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            &:before {
                //background-image: url("../img/featured-news-bg@2x.png");
            }
        }
    }

    &.is-style-featured-news {
        margin-bottom: 0;
        margin-top: 80px;
    }

    &.is-style-button-holder {
        margin-top: 0 !important;
        opacity: 0.9;
        padding: 40px 0 !important;
        > .wp-block-group__inner-container {
            display: flex;
            flex-direction: column;
            padding-top: 0;

            p {
                margin-bottom: 0;
                padding: 0 20px;
            }
            .wp-block-buttons {
                &:last-child {
                    margin-right: 40px;
                }
            }

            .wp-block-button,
            .wp-block-button__link {
                margin: 0 0 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @include media-breakpoint-up('md') {
            margin-top: 20px;
            padding: 40px 0 0 !important;
            > .wp-block-group__inner-container {
                .wp-block-group__inner-container {
                    display: flex;
                    flex-direction: row;
                    .wp-block-buttons {
                        padding-right: 0;
                    }
                }
            }
        }

    }

    &.is-style-at-a-glance {
        margin-top: -70px !important;
        margin-bottom: 100px !important;
        padding-bottom: 0;
        > .wp-block-group__inner-container {
            padding-bottom: 0;
            .wp-block-columns {
                .wp-block-column {
                    &:first-child {
                        > figure {
                            margin-top: 0;
                        }
                    }
                    &:last-child {
                        align-items: flex-end;
                        display: flex;
                        padding-bottom: 60px;
                        > .wp-block-group {
                            .wp-block-group__inner-container {
                                padding: 40px;
                            }
                        }
                    }
                }
            }
        }
        &:before {
            background: url('../img/at-a-glance.png') no-repeat left top;
            background-size: cover;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        @include media-breakpoint-up('md') {
            margin-bottom: 180px !important;
            .is-style-home-image-overlap {
                margin-top: -125px !important;
            }
            > .wp-block-group__inner-container {
                .wp-block-columns {
                    .wp-block-column {
                        &:last-child {
                            > .wp-block-group {
                                .wp-block-group__inner-container {
                                    padding: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.is-style-lions-life {
        position: relative;
        z-index: 1;
        margin-bottom: 120px !important;
        margin-top: -40px !important;

        @include media-breakpoint-up(md) {
            margin-top: -100px !important;
        }

        &::after {
            content: '';
            width: 2px;
            height: 70px;
            background-color: #000;
            position: absolute;
            top: -35px;
            left: 50%;
            margin-left: -1px;
            
            @include media-breakpoint-up(md) {
                height: 110px;
            }
        }

        &::before {
            background: url('../img/lions-life.png') no-repeat left top;
            background-size: cover;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        .wp-block-group {
            &.is-style-why-piedmont {
                @if $editor {
                    left: auto;
                }
                // overflow: hidden;
                margin-top: 60px !important;
                margin-bottom: 0px !important;
                @include media-breakpoint-up(md) {
                    margin-bottom: 150px !important;
                }
                .wp-block-columns .wp-block-column {
                    position: relative;
                    &:first-child {
                        background-color: transparent;
            
                        &::after {
                            display: none;
                        }

                        > p {
                            padding-left: 0;
                        }

                        > div.wp-block-buttons {
                            padding: 0;
                        }
                    }
        
                    &:last-child {
                        background-image: none;
                    }
                }
                > .wp-block-group__inner-container {
                    > .wp-block-columns .wp-block-column {

                        &:first-child {
                            display: none;
    
                            @include media-breakpoint-up(md) {
                                display: block;
                            }
                        }
            
                        &:last-child {
                            padding: 0 0 60px;

                            @include media-breakpoint-up(md) {
                                padding: 60px 0 60px 120px;
                            }
                        }
                    }
                }
    
                > .wp-block-group__inner-container {
                    > figure {
                        @include media-breakpoint-up(md) {
                            top: 0;
                            left: calc(50% - 50vw);
                            max-width: 50vw;
                            width: 50vw;
                            height: 100%;

                            img {
                                height: 100%;
                                object-fit: cover;
                            }
                        }
    
                        &::before {
                            content: '';
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-image: linear-gradient(0deg, rgba($green-dark,0) 0%, rgba($green-dark,1) 90%);
                            z-index: 1;
                            opacity: 0.5;
                        }
                    }
                }
            }

            &.is-style-default {
                &.has-a-background-color {
                    position: relative;
                    background-color: transparent !important;
                    padding: 45px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $green-dark;
                        mix-blend-mode: multiply;
                        z-index: 0;
                    }

                    &::after {
                        content: '';
                        width: calc(100% - 73px);
                        height: calc(100% + 101px);
                        position: absolute;
                        left: 37px;
                        top: -23px;
                        background-image: url(../img/texture-bg.png);
                        background-size: cover;
                        background-position: center;
                        z-index: 1;
                        opacity: 0.3;
                    }

                    > .wp-block-group__inner-container {
                        position: relative;
                        z-index: 2;
                    }

                    .wp-block-columns {
                        margin-left: -40px;
                        margin-right: -30px;
                        .wp-block-column {
                            padding: 0;
                            padding: 0 20px 35px 40px;
                            align-self: auto;
                            
                            @include media-breakpoint-up(md) {
                                padding: 0 30px 60px 40px;
                                border-right: 1px solid $grey-border;
                            }
    
                            &:last-child {
                                border-right: none;
                            }
                            h4 {
                                text-transform: uppercase;
                                font-size: 18px;
                                font-weight: 900;
                                color: #fff;
                                margin-bottom: 13px;
                            }
                            p {
                                color: #fff;
                                margin-top: 0;
                                padding-right: 0;
                            }
    
                            .wp-block-buttons {
                                margin-top: 16px;
                                margin-bottom: 0;
                                text-align: left;
                                
                                .wp-block-button__link {
                                    text-align: left;
                                }
                            }
                        }

                        + .wp-block-columns {
                            margin-top: 0;
                            .wp-block-column {
                                padding-top: 20px;
                                padding-bottom: 35px;

                                @include media-breakpoint-up(md) {
                                    border-right: 1px solid transparent;
                                }

                                &:first-child {
                                    @include media-breakpoint-up(md) {
                                        border-right: 1px solid $grey-border;
                                    }
                                }

                                &:last-child {
                                    padding-bottom: 0;
                                    align-self: flex-end;
                                }
                            }
                        }
                    }

                    .testimonial--style-secondary {
                        margin-bottom: -59px !important;
                        padding-left: 77px;
            
                        .testimonial__content {
                            &::before {
                                color: #fff;
                            }
                        }
                        .testimonial__content-inner {
                            color: $gold-piedmont;
                            letter-spacing: 1px;
                        }
            
                        .testimonial__name {
                            text-align: right;
                        }
            
                        .testimonial__name-inner {
                            color: $green-dark;
                        }
                    }
                }
            }

            &.is-style-background--bottom-white {
                &::after {
                    width: 100%;
                    bottom: 0;
                    background-position: -30px 0;
                    height: 38px;
                    
                    @include media-breakpoint-up(md) {
                        width: calc(50vw + 16px);
                        margin-left: calc(50% - 50vw);
                        height: 67px;
                    }
                }

                .wp-block-columns {
                    .wp-block-column {
                        flex-basis: 100% !important;
                        margin-left: 0;

                        @include media-breakpoint-up(md) {
                            flex-basis: calc(50% - 16px) !important;
                            margin-left: 32px;
                        }
                    }
                }
                
                .wp-block-image {
                    @include media-breakpoint-up(md) {
                        width: 50vw;
                        margin-right: calc(50% - 50vw);
                    }

                    img {
                        width: 100%;
                    }
                }

                .testimonial--style-secondary {
                    margin-top: 50px;
                    margin-bottom: 30px;

                    .testimonial__content {

                        &::after {
                            width: calc(100% + 126px);
                        }
                    }

                    .testimonial__content-inner {
                        color: $green-dark;
                    }

                    .testimonial__name-inner {
                        color: $green-dark;
                    }
                }
            }
        }
    }
    //@todo: Redundant, .is-style-align--center can be used.
    &.is-style-small-container {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &.is-style-background--bottom-white {
        position: relative;
        &:after {
            background: url("../img/white-bg-image.png") no-repeat -45px top;
            bottom: -15px;
            content: '';
            display: block;
            height: 50px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    &.is-style-background--textured {
        margin-top: 30px !important;
        padding: 38px 40px !important;
        position: relative;
        max-width: 375px;
        &:after {
            background-image: url("../img/texture-bg.png");
            background-position: left top;
            background-size: cover;
            background-repeat: no-repeat;
            content: '';
            height: calc( 100% + 60px );
            left: 0;
            opacity: 0.3;
            position: absolute;
            top: -30px;
            width: 100%;
            z-index: -1;
        }

        ul {
            padding-left: 0;
        }

        .wp-block-group__inner-container {
            padding: 0;
        }

        @include media-breakpoint-up('md') {
            margin-top: 0 !important;
            &:after {
                left: 25px;
                top: 30px;
                height: 100%;
            }
        }
    }

    &.is-style-background--textured-border {
        margin-top: 110px !important;
        padding-top: 120px !important;

        p {
            padding: 20px;
        }

        &:before {
            background: url('../img/texture-bg.png') no-repeat left top;
            content: '';
            display: block;
            height: 20px;
            left: 0;
            opacity: 0.3;
            position: relative;
            top: -140px;
            width: 100%;
        }
        &:after {
            border-left: 2px solid $green-dark;
            content: '';
            display: block;
            height: 144px;
            position: absolute;
            left: 50%;
            top: -72px;

        }

        > .wp-block-group__inner-container {
            > .wp-block-columns {
                .wp-block-column {
                    &:first-child {
                        p {
                            font-size: 60px;
                            line-height: 70px;
                        }
                    }
                }
            }
        }
    }

    &.is-style-align--center {
        margin-left: auto;
        margin-right: auto;
        max-width: 840px;
        h3,
        p {
            margin: 20px auto;
        }
        .wp-block-buttons {
            text-align: center;
        }
        @include media-breakpoint-up('md') {
            margin: 0 auto 148px !important;
        }
    }

    &.is-style-image-gallery-content {
        margin: 0 auto;
        max-width: 614px;
        padding: 40px;

        h3 {
            margin-bottom: 20px;
        }

        @include media-breakpoint-up('md') {
            padding: 0;
        }
    }

    &.is-style-explore-programs {
        margin-top: 170px !important;
        > .wp-block-group__inner-container {
            > h2 {
                text-align: center;
                margin-bottom: 56px;
            }
            > p{
                text-align: center;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }

            .wp-block-group {
                &.is-style-default {
                    height: 100%;
                    padding: 55px 28px;

                    p {
                        color: #5D5D5D;
                    }

                    .wp-block-button{
                        width: 100%;
                        .wp-block-button__link {
                            display: block;
                            width: 100%;
                            padding: 11px 22px;
                        }
                    }
                    
                }
            }
        }
    }

    &.is-style-we-believe-in-you {
        position: relative;
        z-index: 1;
        padding-bottom: 115px;

        &::before {
            background: url('../img/Commons-6.png') no-repeat left 90%;
            background-size: cover;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
            opacity: 0.3;
        }
        &::after {
            content: '';
            width: 2px;
            height: 70px;
            background-color: $green-dark;
            position: absolute;
            top: -35px;
            left: 50%;
            margin-left: -1px;
            
            @include media-breakpoint-up(md) {
                height: 110px;
            }
        }

        .wp-block-group {
            &.is-style-why-piedmont {
                @if $editor {
                    left: auto;
                }
                // overflow: hidden;
                margin-top: 60px !important;
                margin-bottom: 50px !important;
                @include media-breakpoint-up(md) {
                    margin-bottom: 115px !important;
                }

                .wp-block-columns .wp-block-column {
                    position: relative;
                    &:first-child {
                        background-color: transparent;
            
                        &::after {
                            display: none;
                        }

                        > p {
                            padding-left: 0;
                        }

                        > div.wp-block-buttons {
                            padding: 0;
                        }
                    }
        
                    &:last-child {
                        background-image: none;
                    }
                }

                > .wp-block-group__inner-container {
                    > .wp-block-columns .wp-block-column {

                        &:first-child {
                            display: none;
    
                            @include media-breakpoint-up(md) {
                                display: block;
                            }
                        }
            
                        &:last-child {
                            padding: 0 0 60px;

                            @include media-breakpoint-up(md) {
                                padding: 80px 0 103px 80px;
                            }
                        }
                    }

                    > figure {
                        @include media-breakpoint-up(md) {
                            top: 0;
                            left: calc(50% - 50vw);
                            max-width: 50vw;
                            width: 50vw;

                            img {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    &.is-style-below-we-believe-in-you {
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            width: 100vw;
            height: 337px;
            position: absolute;
            left: calc(50% - 50vw);
            top: -85px;
            background-image: url(../img/texture-bg.png);
            background-size: cover;
            background-position: center;
            z-index: -1;
            opacity: 0.3;
    
            @include media-breakpoint-up(md) {
                background-size: cover;
            }
        }

        .wp-block-columns {
            &:nth-child(1) {
                margin-bottom: 55px !important;

                .wp-block-column {
                    background-color: #fff;
                    margin-left: 0;
                    padding: 60px;

                    &:last-child {
                        background: #EEEEEE;
                    }

                    p {
                        padding: 0;
                    }

                    .wp-block-buttons {
                        margin-bottom: 40px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &:nth-child(2) {
                margin-bottom: 95px !important;
                .wp-block-column {
                    padding: 57px 50px;
                    color: #fff;

                    &:first-child {
                        background-color: $green-alternate;
                    }
                    &:last-child {
                        background-color: $green-dark;
                    }

                    h3 {
                        color: #fff;
                    }

                    p {
                        padding: 0;
                    }

                    .wp-block-button {
                        display: block;
                    }
                }
            }

        }
        .wp-block-group {
            &.is-style-small-container {
                max-width: 800px;
                padding: 50px 51px;
                position: relative;
                margin-bottom: -40px;

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $green-dark;
                    mix-blend-mode: multiply;
                }

                h3 {
                    color: #fff;
                }

                .is-style-button-holder {
                    padding-top: 0 !important;

                    .wp-block-buttons {
                        flex: 1 1 0;
                        margin-top: 0;
                        margin-right: 0;

                        &:last-child {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }

}

.wp-block-cover {
    @include media-breakpoint-down(sm) {
        min-height: auto !important;
    }
}