.wp-block-buttons {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    .wp-block-button {
        @extend %btn-row;
        width: 100%;
    }
    .wp-block-button__link {
        border-radius: 0;
        background: $gold-piedmont;
        color: $green-dark;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 20px;
        padding: 15px 26px;
        margin: 0;
        text-transform: uppercase;
        width: 100%;

        &:hover, &:focus {
            background: $gold-hover;
            color: $green-dark;
            text-decoration: none;
        }
    }

    .is-style-with-outline,
    .is-style-with-arrow {
        .wp-block-button__link {
            border: 4px solid $gold-piedmont;
            background: transparent;
            color: $gold-piedmont;
            padding: 11px 14px;

            &:hover, &:focus {
                border-color: $gold-hover;
            }

            @include media-breakpoint-up('xl') {
                padding: 11px 26px;
            }
        }
    }

    .is-style-with-arrow {
        .wp-block-button__link {
            &:after {
                content: '—>';
                margin-left: 5px;
                position: relative;
            }
            &:hover, &:focus {
                &:hover, &:focus {
                    background: transparent;
                    border: 4px solid $green-dark;
                    color: $green-dark;
                }
            }
        }
    }
    .is-style-link-with-arrow {
        .wp-block-button__link {
            padding: 0;
            background-color: transparent;
            color: $gold-piedmont;
            text-transform: unset;

            &:hover,
            &:focus {
                background-color: transparent;
                color: $gold-piedmont;
            }

            &:after {
                content: '—>';
                margin-left: 5px;
                position: relative;
            }
        }
    }

    @include media-breakpoint-up('md') {
        width: auto;
        .wp-block-button,
        .wp-block-button__link {
            width: auto;
        }
    }
}

.wp-block-button {
    &:not(.is-style-with-outline) .wp-block-button__link {
        @extend %btn;
    }

    &.is-style-with-outline .wp-block-button__link {
        @extend %btn-basic;
        margin: 0;
    }

    &.is-style-with-arrow .wp-block-button__link {
        @extend %btn-styled;
        margin: 0;
    }
}