.events-list {
    .post-list{
        list-style: none;
        padding: 0;
        margin: 0;

        &__title {
            line-height: 28px;
        }

        &__post {
            border-bottom: none;
            margin-bottom: 30px;
            padding-bottom: 0;
        }
    }
}

.important-dates {
    margin: 25px 0 0 !important;
    .post-list {
        margin-bottom: 0;
        padding: 0 15px;
        &__details {
            max-width: 80%;
        }
        &__post {
            margin-bottom: 0;
            padding: 16px 0;
            &:last-child {
                border-bottom: none;
            }
        }
        &__date {
            background-color: transparent;
            color: $green-dark;
            font-size: 16px;
            font-weight: 900;
            letter-spacing: -0.19px;
            line-height: 30px;
            margin-right: 12px;
            padding: 0;
            width: auto;
        }

        &__title {
            font-size: 16px;
            font-weight: normal;
            line-height: 30px;
        }

        &__link {
            font-weight: 800;
        }
    }
    @include media-breakpoint-up('md') {
        .post-list {
            padding: 0 0 0 40px;
            &__date {
                font-size: 18px;
                letter-spacing: -0.21px;
                margin-right: 25px;
            }
            &__title {
                font-size: 18px;
            }
        }
    }
}