.wp-block-columns {
    > .wp-block-column > {
        [class*='wp-block'] {
            margin-top: 20px;
            margin-bottom: 20px;
            @include media-breakpoint-up('md') {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        .wp-block-buttons {
            margin: 20px 0 0 ;
            .wp-block-button {
                margin: 0;
            }
        }
        :first-child {
            margin-top: 0px;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
}