.wp-block-cover {
    &.is-style- {

        &piedmont-left, &piedmont-right {
            background-repeat: no-repeat;
            background-size: cover;
            mix-blend-mode: multiply;
        }
        &piedmont-left {
            background-color: transparent;
            background-position: left top;
            display: none;
            left: 0;
            max-width: 492px;
            max-height: 492px;
            mix-blend-mode: multiply;
            padding-top: 0;
            position: absolute;
            top: 0;
            @include media-breakpoint-up('md') {
                display: block;
            }
        }
        &piedmont-right {

        }
    }
}