.events-browser__title {
    .h4 {
        margin-bottom: 40px;
        text-transform: uppercase;
        color: $red;
        font-weight: 900;
    }
}
.events-browser__post-list {
    .post-list__post:last-child {
        border-bottom: none;
    }
}
.events-browser__more {
    border-top: 1px solid $light-peach;
    padding-top: 50px;
    margin-top: 40px;
    text-align: center;
}