.wp-block-featured-event {
    &.featured-event {
        display: flex;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            margin-left: -10px;
            margin-right: -10px;
        }
        @include media-breakpoint-up(lg) {
            margin-left: -15px;
            margin-right: -15px;
        }
        @include media-breakpoint-up(xl) {
            margin-left: -48px;
            margin-right: -48px;
        }

        .featured-event__event {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                flex: 0 0 33.3334%;
                max-width: 33.3334%;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @include media-breakpoint-up(xl) {
                padding-left: 48px;
                padding-right: 48px;
            }
        }
    }
}