.featured-news {
    &__news {
        padding-bottom: 20px;
        margin-bottom: 36px;
        border-bottom: 1px solid $grey-border;
    }
    &__title {
        font-size: 20px;
        line-height: 1.5;
        color: $green-dark;
        font-weight: 700;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

        a {
            color: inherit;
        }
    }

    &__content {
        font-size: 16px;
        line-height: 1.5;
        color: $green-dark;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 1.77;
        }
    }

    &__more-link {
        font-size: 16px;
        line-height: 1.25;
        font-weight: 700;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }

    .wp-block-button__link {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}