.is-style-zag {
  text-align: center;

  &:after {
    background: url("../img/zag-2.svg") no-repeat center;
    background-size: 92px 14px;
    border-radius: 0 !important;
    bottom: unset !important;
    box-shadow: none !important;
    content: '';
    display: block;
    height: 14px;
    position: relative !important;
    top: unset !important;
    @include media-breakpoint-up('md') {
      background-size: 120px 20px;
      height: 20px;
      margin-top: 20px;
    }
  }
}

h3 {
  &.is-style-background--solid {
    background: $green-dark;
    color: $green-light;
    font-weight: 900;
    padding: 0 12px;
  }

  &.has-text-align-center {
    text-align: center !important;
    width: 100%;
  }


  &.is-style-short-background {
    background: transparent !important;
    display: table;
    margin: 0 auto;
    padding: 0 10px !important;
    position: relative;
    z-index: 10;

    &:after {
      background-color: $gold-piedmont;
      bottom: 0;
      content: "";
      display: block;
      height: 48%;
      left: 0;
      position: absolute;
      top: unset !important;
      transition: all 0.1s linear !important;
      width: 100%;
      z-index: -10;
    }

    @include media-breakpoint-up('md') {
      margin: 0 0 20px 0;
    }
  }
}

.is-style-extra-right-padding {
  padding-right: 0;
  
  @include media-breakpoint-up(md) {
    padding-right: 140px;
  }
}