.hero-slider {
	width: 100vw;
	margin-left: calc( 50% - 50vw );
	position: relative;
	overflow: hidden;

	.entry-content &{
		margin-bottom: 0;
	}

	.slick-pause {
		display: none;
	}

	&__content-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&.hero {
			background-color: transparent;
		}
	}

	.hero {
		height: 738px;
		background: none;
		@include media-breakpoint-up(md) {
			height: 952px;
		}

		&::after {
			display: none;
		}

		&__content {
			padding-bottom: 0;
		}

		&__content-inner {
			width: 100%;
			text-align: center;

			&--no-nav {
				margin-bottom: 110px;

				@include media-breakpoint-up(lg) {
					margin-bottom: 104px;
				}
			}
		}

		&__title-wrap {
			margin-bottom: 25px;

			@include media-breakpoint-up(md) {
				margin-bottom: 36px;
			}
		}

		&__title {
			font-weight: 700;
			font-size: 48px;
			line-height: 1.1;
			color: #fff !important;

			@include media-breakpoint-up(md) {
				font-size: 62px;
			}
		
			@include media-breakpoint-up(lg) {
				font-size: 72px;
			}
		}

		.btn {
			display: inline-block;
			color: $green-dark;
		}

		&__image-holder {
			&::before {
				opacity: 0.7;
				background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,122,105,0) 100%);
				@include media-breakpoint-up(md) {
					background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,122,105,0) 100%);
				}
			}
		}
		
	}
}

.hero {
	&__nav {
		border-top: 1px solid rgba(#DEEFDB, 0.5);
		margin-top: 110px;
		position: relative;
		padding-bottom: 32px;

		@include media-breakpoint-up(md) {
			padding-bottom: 67px;
		}

		@include media-breakpoint-up(lg) {
			margin-top: 104px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		&::after {
			content: '';
			width: 100vw;
			height: calc(100% + 20px);
			position: absolute;
			top: 0;
			left: calc( 50% - 50vw );
			background-image: url(../img/texture-bg.png);
			z-index: -1;
			opacity: 0.2;
		}
	}

	&__nav-title {
		font-size: 24px;
		line-height: 36px;
		text-transform: uppercase;
		color: #fff;
		font-weight: 900;
		margin-bottom: 12px;
		margin-top: 16px;

		@include media-breakpoint-up(lg) {
			margin-top: 50px;
			margin-bottom: 30px;
			padding-right: 80px;
		}
	}

	&__nav-items {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				font-size: 18px;
				line-height: 40px;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				position: relative;
				transition: color 0.3s;
				

				&::before {
					content: '';
					width: 100%;
					height: 4px;
					position: absolute;
					top: 0;
					left: 0;
					background-color: transparent;
					transition: background-color 0.3s;
					display: none;

					@include media-breakpoint-up(md) {
						display: block;
					}
				}

				&:hover {
					color: $gold-piedmont;
					
					&::before {
						background-color: $gold-piedmont;
					}

					+ .hero__nav-item-desc {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;

			li {
				padding-left: 17px;
				padding-right: 17px;

				a {
					display: block;
					padding: 50px 0 30px;
				}
			}
		}
	}

	&__nav-item-desc {
		color: #fff;
		position: absolute;
		top: 95px;
		left: 0;
		font-size: 18px;
		line-height: 2;
		font-weight: 700;
		display: block;
		opacity: 0;
		transform: translateY(50px);
		transition: opacity 0.3s, transform 0.3s;
		display: none;
		pointer-events: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}

		&::before {
			content: '';
			border-width: 8px 0 8px 12px;
			border-color: transparent transparent transparent #fff;
			border-style: solid;
			display: inline-block;
			width: 0;
			height: 0;
			position: relative;
			top: 2px;
			margin-right: 10px;
		}
	}
}

.is-green-alternate-border-bg {
	display: inline;
	box-shadow: 0px -45px $green-alternate inset;
	padding: 0 10px;
	box-decoration-break: clone;

	&::after {
		display: none;
	}
	
	@include media-breakpoint-up(md) {
		position: relative;
		z-index: 10;
		box-shadow: none;
		padding: 0;
	
		&::after {
			content: '';
			width: 83%;
			height: 28px;
			position: absolute;
			right: 0;
			bottom: 0;
			left: auto;
			background-color: $green-alternate;
			display: inline-block;
			z-index: -10;
		}
	}

}