.hero-image {
    width: 100vw;
    margin-left: calc( 50% - 50vw );

    .hero__image-holder {
        &::before {
            background-image: none;
            background-color: #000;
            opacity: 0.3;
        }

        img {
            object-position: center;
        }
    }

    .hero__title-box {
        width: 100%;
    }

    .hero__content {
        align-items: center;
        text-align: center;
    }
}