.image-gallery {
	width: 100vw;
	margin-left: calc( 50% - 50vw );
	@include media-breakpoint-up(lg) {
		width: auto;
		margin-left: 0;
	}

	&__image {
		@if $editor {
		} @else {
			display: block !important;
		}
		height: 360px;

		> img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		@include media-breakpoint-up(lg) {
			height: 510px;
		}
	}

	&__title {
		font-weight: 700;
		color: $dark-15-grey;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 1.1;

		@include media-breakpoint-up(lg) {
			font-size: 32px;
			line-height: 33px;
			margin-bottom: 25px;
		}
	}

	&__description {
		font-size: 14px;

		@include media-breakpoint-up(lg) {
			font-size: 18px;
		}
	}

	&__content {
		padding: 0 17px;
		margin-top: -43px;
		position: relative;
		z-index: 9;
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-top: 0;
			padding: 0;
		}
	}
	&__content-inner {
		background-color: #F8F8F8;
		opacity: 0.95;
		position: relative;
		padding: 85px 19px 52px 13px;

		@include media-breakpoint-up(lg) {
			padding: 62px 65px 54px 57px;
		}

		&::after {
			content: '';
			width: 189px;
			height: 8px;
			background-color: $green-alternate;
			position: absolute;
			top: 56px;
			left: -17px;
			@include media-breakpoint-up(lg) {
				top: 30px;
				left: -57px;
				width: 238px;
			}
		}
	}

	&__links {
		margin: 0;
		padding: 0;
		list-style: none;
		margin-top: 18px;

		@include media-breakpoint-up(lg) {
			margin-top: 30px;
		}

		li {
			margin: 0;
			padding: 0;

			a {
				margin-top: 0;
			}
		}
	}

	&__link {
		display: inline-block;
		margin-top: 18px;
		font-weight: 800;

		@include media-breakpoint-up(lg) {
			margin-top: 30px;
		}
	}

	

	&.image-gallery--content-pos-right {
		.image-gallery__content-inner {
	
			@include media-breakpoint-up(lg) {
				margin-left: -200px;
			}
		}

		.image-gallery__content-inner {
			&::after {
				left: auto;
				right: -57px;
			}
		}
	}
	&.image-gallery--content-pos-left {
		.image-gallery__content-inner {
	
			@include media-breakpoint-up(lg) {
				margin-right: -200px;
			}
		}
	}

	.slick-dots {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		bottom: 20px;
		left: 20px;

		li {

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 14px;
				height: 14px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
				position: relative;
				margin-left: 6px;
				margin-right: 6px;

				&::before {
					content: '';
					width: 14px;
					height: 14px;
					display: block;
					border-radius: 50%;
					background-color: $green-pointer;
					position: absolute;
					top: 0;
					left: 0;
					transform: scale(0.65);
					transition: transform 0.3s, background-color 0.3s;
				}

				&:focus {
					&::before {
						outline: #000 auto 1px;
					}
				}

			}

			&.slick-active {
				button {
					&::before {
						transform: scale(1);
						background-color: #fff;
					}
				}
			}
		}
	}

	.slick-controls {
		margin: 0;
		padding: 0;
		list-style: none;

		.slick-arrow {
			width: 40px;
			height: 40px;
			padding: 0;
			position: absolute;
			top: 50%;
			font-size: 0;
			background-color: transparent;
			border: none;
			margin-top: -20px;

			&::after {
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				border-width: 3px 3px 0 0;
				border-style: solid;
				border-color: #fff;
				transform: rotate(45deg);
				position: absolute;
				top: 10px;
				left: 7px;
			}
			&.slick-prev {
				left: 30px;

				&::after {
					transform: rotate(-135deg);
					left: 13px;
				}
			}
			&.slick-next {
				right: 24px;
			}

		}
	}

	&--style-static {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
		}

		.image-gallery__image {
			height: 360px;
	
			@include media-breakpoint-up(lg) {
				height: 523px;
			}
		}

		.image-gallery__slider {
			@include media-breakpoint-up(lg) {
				flex: 0 0 58%;
				max-width: 58%;
			}
		}

		.image-gallery__content {
			@include media-breakpoint-up(lg) {
				flex: 0 0 42%;
				max-width: 42%;
			}
		}

		.slick-dots {
			@include media-breakpoint-down(md) {
				bottom: 56px;
			}
		}

		&.image-gallery--content-pos-right {
			.slick-controls {
				.slick-arrow {
					&.slick-next {
						display: none !important;
					}
				}
			}
		}
		&.image-gallery--content-pos-left {
			.image-gallery__slider {
				@include media-breakpoint-up(lg) {
					order: 1;
				}
			}

			.slick-dots {
				left: auto;
				right: 20px;
			}

			.slick-controls {
				.slick-arrow {
					&.slick-prev {
						display: none !important;
					}
				}
			}
		}
	}

	&--style-dynamic {
		@include media-breakpoint-up(lg) {
			margin-left: -57px;
		}
		.image-gallery__image {
			height: auto;
			@include media-breakpoint-up(lg) {
				@if $editor {
					&.slick-slide:first-child {
						display: flex;
					}
				} @else {
					display: flex !important;
				}
				flex-wrap: wrap;
				padding-left: 57px;
				height: 557px;
			}

			img {
				@include media-breakpoint-down(md) {
					height: 360px;
				}
				@include media-breakpoint-up(lg) {
					flex: 0 0 58%;
					max-width: 58%;
				}
			}

			.image-gallery__content {
				@include media-breakpoint-up(lg) {
					flex: 0 0 42%;
					max-width: 42%;
					padding: 55px 0;
				}
			}

			.image-gallery__content-inner {
				height: 100%;
			}
		}

		&.image-gallery--content-pos-left {
			.image-gallery__image {
				img {
					@include media-breakpoint-up(lg) {
						order: 1;
					}
				}
			}

			.slick-controls {
				.slick-arrow {
					@include media-breakpoint-down(md) {
						top: 174px;
					}
					&::after {
						@include media-breakpoint-up(lg) {
							border-color: $green-dark;
						}
					}
					&.slick-prev {
						@include media-breakpoint-up(lg) {
							left: 67px;
						}
					}
					&.slick-next {
						@include media-breakpoint-up(lg) {
							right: auto;
							left: calc( 42% + 193px );
						}
					}
				}
			}

			.slick-dots {
				bottom: auto;
				top: 293px;

				@include media-breakpoint-up(lg) {
					bottom: 72px;
					left: 75px;
					top: auto;
				}
			}

			&.image-gallery--dots-pos-right {
				.slick-dots {
					// right: auto;
					@include media-breakpoint-up(lg) {
						left: calc( 42% + 188px );
						right: auto;
						transform: translateX(-50%);
					}
				}
			}
			&.image-gallery--dots-pos-center {
				.slick-dots {
					transform: translateX(-50%);
					left: 50%;

					@include media-breakpoint-up(lg) {
						left: calc( 21% + 150px );
					}

					li {
						&.slick-active {
							button {
								&::before {
									background-color: $green-dark;
								}
							}
						}
					}
				}
			}
		}

	}

	&--is-half-of-viewport {
		@include media-breakpoint-up(lg) {
			width: 50vw;
			margin-left: calc( 50% - 50vw );
		}
	}

	&--dots-pos-right {
		.slick-dots {
			left: auto;
			right: 20px;
		}
	}
	&--dots-pos-center {
		.slick-dots {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&--show-arrow-next {
		.slick-controls {
			.slick-arrow {
				&.slick-prev {
					display: none !important;
				}
			}
		}
	}
	&--show-arrow-prev {
		.slick-controls {
			.slick-arrow {
				&.slick-next {
					display: none !important;
				}
			}
		}
	}
}