.wp-block-image {
  &.is-style-background--textured {
    position: relative;

    &:after {
      background: url("../img/texture-bg.png") no-repeat left top;
      content: '';
      display: block;
      height: calc(100% + 108px);
      left: 50%;
      opacity: 0.3;
      position: absolute;
      top: -54px;
      width: 100%;
      z-index: -1;
    }

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      &:after {
        background: url("../img/texture-bg@2x.png") no-repeat left top;
      }
    }

  }

  &.is-style-background--bottom-white {
    position: relative;
    &:after {
      background: url("../img/white-bg-image.png") no-repeat -45px top;
      bottom: 0;
      content: '';
      display: block;
      height: 70px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      &:after {
        background: url("../img/white-bg-image@2x.png") no-repeat -45px top;
      }
    }
  }

}