.image-slider {
	width: 100vw;
	margin-left: calc( 50% - 50vw );
	position: relative;
	z-index: 1;
	padding-top: 50px;
	padding-bottom: 75px;

	@include media-breakpoint-up(md) {
		padding-bottom: 85px;
	}

	&::after {
		content: '';
		width: 50vw;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background-image: url(../img/texture-bg.png);
		background-size: cover;
		background-position: center;
		z-index: -1;
		opacity: 0.3;

		@include media-breakpoint-up(md) {
			background-size: cover;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 1.1;
		font-weight: 900;
		text-align: center;
		margin-bottom: 30px;
		margin-top: 0;
		text-transform: uppercase;

		@include media-breakpoint-up(xl) {
			font-size: 32px;
			margin-bottom: 46px;
		}
	}

	&__slides {
		padding-right: 0;
		padding-left: 0;
		@include media-breakpoint-down(md) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__slide-inner {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__slide-image {
		width: 100vw;
		margin-left: calc( 50% - 50vw );

		@include media-breakpoint-up(lg) {
			flex: 0 0 79%;
			max-width: 79%;
			margin-left: 0;
			order: 1;
		}
		
		img {
			height: 360px;
			object-fit: cover;
			object-position: center;

			@include media-breakpoint-up(md) {
				height: 579px;
			}
		}
	}

	&__content {
		margin-top: 18px;
		padding-left: 18px;
		padding-right: 44px;

		@include media-breakpoint-up(lg) {
			flex: 0 0 calc( 21% + 37px );
			max-width: calc( 21% + 37px );
			order: 0;
			margin-right: -37px;
			position: relative;
			z-index: 9;
			display: flex;
			flex-direction: column;
			padding: 35px 0 40px;
			margin-top: 0;
		}
	}

	.image-slider__content-title {
		font-size: 20px;
		line-height: 1.5;
		text-transform: uppercase;
		color: $green-light;
		font-weight: 900;
		margin-bottom: 7px;
		
		span {
			display: inline;
			box-shadow: 0px -45px $green-alternate inset;
			padding: 0 7px;
			box-decoration-break: clone;

			@include media-breakpoint-up(xl) {
				padding: 0 11px;
			}
		}

		@include media-breakpoint-up(xl) {
			font-size: 32px;
			line-height: 44px;
			margin-right: -80px;
		}
	}

	&__content-block {
		background-color: $green-lighter;
		padding: 17px 14px;
		font-size: 14px;

		@include media-breakpoint-up(md) {
			height: 100%;
			font-size: 18px;
			line-height: 1.66;
		}
		
		@include media-breakpoint-up(xl) {
			padding: 28px 21px 80px 22px;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 20px;
		font-weight: 800;
		font-size: 14px;

		@include media-breakpoint-up(md) {
			margin-top: 31px;
			font-size: 18px;
		}
	}

	.slick-dots {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 322px;
		right: 20px;

		@include media-breakpoint-up(md) {
			top: 541px;
		}
		@include media-breakpoint-up(lg) {
			top: auto;
			bottom: 11px;
			right: 14px;
		}

		li {

			button {
				font-size: 0;
				line-height: 0;
				display: block;
				width: 14px;
				height: 14px;
				padding: 5px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: transparent;
				position: relative;
				margin-left: 6px;
				margin-right: 6px;

				&::before {
					content: '';
					width: 14px;
					height: 14px;
					display: block;
					border-radius: 50%;
					background-color: $green-pointer;
					position: absolute;
					top: 0;
					left: 0;
					transform: scale(0.65);
					transition: transform 0.3s, background-color 0.3s;
				}

				&:focus {
					&::before {
						outline: #000 auto 1px;
					}
				}

			}

			&.slick-active {
				button {
					&::before {
						transform: scale(1);
						background-color: #fff;
					}
				}
			}
		}
	}

	.slick-controls {
		margin: 0;
		padding: 0;
		list-style: none;

		.slick-arrow {
			width: 40px;
			height: 40px;
			padding: 0;
			position: absolute;
			top: 180px;
			font-size: 0;
			background-color: transparent;
			border: none;
			margin-top: -20px;

			@include media-breakpoint-up(md) {
				top: 290px;
			}
			@include media-breakpoint-up(lg) {
				top: auto;
				bottom: 60px;
				margin-top: 0;
			}

			&::after {
				content: '';
				width: 18px;
				height: 18px;
				display: block;
				border-width: 3px 3px 0 0;
				border-style: solid;
				border-color: #fff;
				transform: rotate(45deg);
				position: absolute;
				top: 11px;
				left: 8px;
				
				@include media-breakpoint-up(lg) {
					width: 20px;
					height: 20px;
					top: 10px;
					left: 7px;
					border-color: #808080;
				}
			}
			&.slick-prev {
				left: 16px;

				@include media-breakpoint-up(lg) {
					left: 13px;
				}

				&::after {
					transform: rotate(-135deg);
					left: 14px;

					@include media-breakpoint-up(lg) {
						left: 13px;
					}
				}
			}
			&.slick-next {
				right: 17px;

				@include media-breakpoint-up(lg) {
					right: auto;
					left: 53px;
				}
			}

		}
	}
}