.wp-block-know-more {
    margin-top: 50px;
    padding: 20px;
    a {
        color: $gold-piedmont;
        display: block;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -0.38px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        position: relative;
        text-transform: uppercase;
        &:before {
            background: $green-dark;
            bottom: 0;
            content: '';
            display: block;
            height: 8px;
            left: 0;
            max-width: 112px;
            position: absolute;
            width: 100%;
        }
    }
    @include media-breakpoint-up('md') {
        margin-top: 0;
        padding: 30px 0;
    }
}