.wp-block-media-text {
    @include media-breakpoint-down('sm') {
        grid-template-columns: 100%!important;
        .wp-block-media-text__media {
            grid-column: 1;
            grid-row: 1 !important;
        }
        .wp-block-media-text__content {
            grid-column: 1;
            grid-row: 2 !important;
        }
    }
}