p {
    &.is-style-sefir {
        font-family: serif;
    }
    &.has-smaller-font-size {
        font-size: 12px;
        line-height: 18px;
    }
    &.has-small-font-size {
        font-size: 14px;
        line-height: 24px;
        @include media-breakpoint-up('md') {
            font-size: 16px;
            line-height: 24px;
        }
    }
    &.has-medium-font-size {
        font-size: 18px;
        line-height: 30px;
        @include media-breakpoint-up('md') {
            font-size: 20px;
            line-height: 26px;
        }
    }
    &.has-large-font-size {
        font-size: 20px;
        line-height: 26px;
        @include media-breakpoint-up('md') {
            font-size: 32px;
            line-height: 36px;
        }
    }
    &.has-larger-font-size {
        font-size: 30px;
        line-height: 36px;
        @include media-breakpoint-up('md') {
            font-size: 60px;
            line-height: 70px;
        }
    }

    &.is-style-bolder {
        font-weight: 900;
        text-align: center;
        @include media-breakpoint-up('md') {
            text-align: left;
        }
    }

    &.is-style-extra-spacing {
        padding: 15px 50px 50px !important;
    }

    &.is-style-narrow {
        max-width: 685px;
    }
}