.stats-slider {
  color: #fff;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 70px 60px;
  // z-index: 3;
  position: relative;

  @include media-breakpoint-up('md') {
    width: 100%;
    margin-left: 0;
    padding: 54px 42px 53px;
    .home & {
      margin-top: 0 !important;
      position: absolute;
      z-index: 10;

      &:after {
        height: calc(100% + 70px);
        top: -35px;
      }
    }
    &--over-content {
      margin-bottom: -40px !important;
      margin-top: 0 !important;
      transform: translateY(calc(-50% - 40px));
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $green-dark;
    mix-blend-mode: multiply;
  }

  &::after {
    content: '';
    width: 100%;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    left: 0;
    background-image: url(../img/texture-bg.png);
    z-index: 1;
    opacity: 0.3;

    @include media-breakpoint-up(md) {
      width: calc(100% - 70px);
      height: calc(100% + 40px);
      left: 35px;
      top: -20px;
    }
  }

  &:not(.slick-slider) {
    display: flex;
    flex-wrap: wrap;

    .stats-slider__slide {
      flex: 1 1 0;
      position: relative;
      z-index: 2;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__slide {
    padding: 37px 0;
    max-width: 182px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      width: 80%;
      height: 1px;
      display: block;
      background-color: $grey-border;
      position: absolute;
      top: 0;
      left: 10%;
      display: none;
    }

    .slick-active + .slick-active & {
      &::after {
        display: block;
      }
    }

    @include media-breakpoint-down(md) {
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 205px;
    }

    @include media-breakpoint-up(md) {
      max-width: 100%;
      padding: 20px 25px 0;
      border-right: 1px solid $grey-border;
      text-align: left;

      &::after {
        display: none !important;
      }
    }
  }

  &__number {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    color: $gold;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.55;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      bottom: 5px;
    }

    li {

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 14px;
        height: 14px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        position: relative;
        margin-left: 6px;
        margin-right: 6px;

        &::before {
          content: '';
          width: 14px;
          height: 14px;
          display: block;
          border-radius: 50%;
          background-color: $green-pointer;
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(0.65);
          transition: transform 0.3s, background-color 0.3s;
        }

        &:focus {
          &::before {
            outline: #000 auto 1px;
          }
        }

      }

      &.slick-active {
        button {
          &::before {
            transform: scale(1);
            background-color: #fff;
          }
        }
      }
    }
  }

  .slick-controls {
    margin: 0;
    padding: 0;
    list-style: none;

    .slick-arrow {
      width: 40px;
      height: 40px;
      padding: 0;
      position: absolute;
      top: 50%;
      font-size: 0;
      background-color: transparent;
      border: none;
      margin-top: -20px;

      &::after {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        border-width: 3px 3px 0 0;
        border-style: solid;
        border-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: 7px;
      }

      &.slick-prev {
        left: 8px;

        &::after {
          transform: rotate(-135deg);
          left: 13px;
        }
      }

      &.slick-next {
        right: 8px;
      }

      &.slick-disabled {
        display: none !important;
      }
    }

  }
  .slick-list {
    z-index: 2;

    > .slick-track {
      > .slick-slide {
        > div {
          width: 100%;
        }
      }
    }
  }

  &:not(.slick-vertical) {
    .slick-slide:not(.stats-slider__slide) {
      height: inherit !important;

      > div {
        height: 100%;
      }
    }

    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      height: 100%;

      @if $editor {
      } @else {
        display: flex !important;
        flex-wrap: wrap;
      }
    }

    .stats-slider__slide {
      height: 100%;
    }
  }
}


@if $editor {
  .stats-slider {
    display: flex;
    flex-wrap: wrap;

    .stats-slider__slide {
      flex: 0 0 20%;
      max-width: 20%;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: block;
      }

      &:nth-child(5) {
        border-right: none;
      }

      .stats-slider__number {
        height: auto !important;
      }
    }
  }
}