.story-slider {
	margin-bottom: 30px !important;
	max-width: 595px;
	padding: 60px 0 30px;
	position: relative;

	h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

	&::after {
		background-image: url("../img/texture-bg.png");
		background-position: left top;
		background-size: cover;
		background-repeat: no-repeat;
		content: '';
		height: 100%;
		left: 0;
		opacity: 0.3;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	&__slides {
		padding-right: 0;
		padding-left: 0;
		@include media-breakpoint-down(md) {
			width: 100%;
				max-width: 100%;
		}
	}

	&__slide {
		width: 100%;
		max-width: 595px;
	}

	&__slide-inner {
		position: relative;
	}

	&__content {
		background-color: $green-lighter;
		display: block;
		margin: -35px auto 0;
		max-width: 340px;
		padding: 30px 10px 30px 20px;
		position: relative;
		width: 100%;

		h5 {
			color: $green-dark;
			font-weight: bold;
			margin: 0 0 10px;
		}
		&-description {
			line-height: 27px;
			max-height: 80px;
			overflow: hidden;
		}
	}

	&__link {
		font-weight: bold;
		line-height: 20px;
	}

	.slick-dots {
		bottom: 55px !important;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 60px !important;
		top: unset !important;

		@include media-breakpoint-up(lg) {
			top: auto;
			bottom: 11px;
			right: 14px;
		}

		li {
			.slick-dot-content {
				@extend .sr-only;
			}
			margin-right: 12px;
			&:last-child {
				margin-right: 0;
			}

			button {
				background: $green-pointer;
				border-radius: 50%;
				border: 1px solid $green-pointer;
				display: block;
				height: 14px;
				padding: 0;
				width: 14px;
			}

			&.slick-active {
				button {
					background-color: $green-dark;
					border: 1px solid $green-dark;
				}
			}
		}
	}

	@include media-breakpoint-up('md') {
		padding: 0 0 50px;
		&:after {
			left: 10px;
			top: 18px;
			width: calc( 100% - 30px );
		}

		h3 {
			margin-bottom: 35px;
		}

		&__slides {
			padding-left: 50px;
		}

		&__slide {
			width: 93%;
		}

		&__content {
			display: inline-block;
			margin: 0;
			position: absolute;
			right: 0;
			top: 50px;
			width: 57%;
		}
	}
}