.testimonial {

	&__content {
		position: relative;
		&::before {
			content: '“';
			font-size: 72px;
			line-height: 74px;
			color: $green-dark;
			font-weight: 700;
			position: absolute;
		}
	}
	&__name-inner {
		display: inline-block;
		// background-color: $green-light;
		font-size: 14px;
		padding: 1px 15px;
		text-transform: uppercase;
		
		@include media-breakpoint-up(md) {
			font-size: 18px;
			padding: 1px 25px;
		}
	}

	&--has-thumbnail {
		display: flex;
		flex-wrap: wrap;

		.testimonial__inner {
			flex: 1 1 0;
			max-width: 100%;
			padding-top: 25px;
			padding-right: 35px;
		}

		.testimonial__thumbnail {
			flex: 0 0 200px;
			max-width: 200px;
		}
	}

	&--style-default {
		position: relative;
		z-index: 1;
		padding-top: 35px;
		margin-right: calc( 50% - 50vw );

		@include media-breakpoint-up(md) {
			padding-top: 40px;
			padding-bottom: 30px;
			margin-right: 0;
		}

		&::after {
			content: '';
			width: 93%;
			height: calc(100% - 10px);
			position: absolute;
			top: 0;
			left: 7%;
			background-image: url(../img/texture-bg.png);
			background-size: cover;
			background-position: center;
			opacity: 0.3;
			z-index: -1;

			@include media-breakpoint-up(md) {
				width: 90%;
				height: 100%;
				left: 5%;
			}
		}

		
		.testimonial__content {
			margin-bottom: 30px;

			&::before {
				top: -53px;
				left: 10%;
		
				@include media-breakpoint-up(md) {
					left: 7%;
				}
			}
		}

		.testimonial__content-inner {
			display: inline;
			font-size: 20px;
			line-height: 1.45;
			font-weight: 700;
			color: $green-light;
			text-transform: uppercase;
			background-color: $green-dark;
			padding: 0 10px;
			box-decoration-break: clone;
			
			@include media-breakpoint-up(md) {
				font-size: 32px;
				line-height: 1.375;
			}
		}

		.testimonial__name {
			
			@include media-breakpoint-up(md) {
				text-align: center;
			}
		}

		.testimonial__name-inner {
			background-color: $green-light;
		}
	}

	&--style-secondary {
		position: relative;
		padding-left: 42px;
		.testimonial__content {
			padding-top: 23px;

			&::before {
				top: -10px;
				left: -42px;
			}

			&::after {
				content: '';
				width: 100%;
				height: 7px;
				background-color: $gold-piedmont;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.testimonial__content-inner {
			font-size: 22px;
			color: $dark-10-grey;
			margin-bottom: 22px;
		}
		.testimonial__name-inner {
			background-color: $gold-piedmont;
			color: #fff;
		}

		&.testimonial--has-thumbnail {
			.testimonial__content {
				&::after {
					width: calc(100% + 200px);
				}
			}
		}
	}

	&--style-centered {
		text-align: center;

		.testimonial__inner {
			position: relative;
			padding-top: 27px;
			max-width: 730px;
			margin-left: auto;
			margin-right: auto;

			&::before {
				content: '';
				width: calc(50% - 50px);
				height: 7px;
				background-color: $gold-piedmont;
				position: absolute;
				top: 0;
				right: 0;
			}
			&::after {
				content: '';
				width: calc(50% - 50px);
				height: 7px;
				background-color: $gold-piedmont;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.testimonial__content {
			&::before {
				left: 50%;
				top: -40px;
				transform: translateX(-50%);
			}
		}

		.testimonial__content-inner {
			font-size: 22px;
			color: $green-dark;
			margin-bottom: 35px;
			font-weight: 900;
		}

		.testimonial__name-inner {
			background-color: $green-dark;
			color: #fff;
			font-weight: 700;
			
			strong {
				font-weight: 700;
			}
		}
	}

	&--align-full {
		&.testimonial--style-default {
			padding-top: 84px;
			padding-bottom: 57px;
			margin-right: 0;
	
			&::after {
				width: 100vw;
				left: 0;
				margin-left: calc( 50% - 50vw );
			}
	
			.testimonial__content {
				max-width: 887px;
				margin-left: auto;
				margin-right: auto;
	
				&::before {
					left: 5%;
			
					@include media-breakpoint-up(md) {
						left: -2%;
					}
				}
			}
		}
	}
}