$editor: true;

@import "variables/theme";
@import "variables/selectors-editor";

@import "assets/bootstrap4-theme";
@import "assets/parent-theme-theme";
@import "assets/icomoon";
@import "assets/slick";

@import "theme/general";
@import "theme/alignment";
@import "theme/hero";

.editor-styles-wrapper {
    @import "theme/components/modals";
    @import "theme/components/slick";

    @import "theme/elements/buttons";
    @import "theme/elements/forms";
    @import "theme/elements/featured-events";
    @import "theme/elements/headings";
    @import "theme/elements/list-style";
    @import "theme/elements/post-list";
    @import "theme/elements/separator";
    @import "theme/elements/content-sidebar";

    @import "theme/blocks/articles-browser";
    @import "theme/blocks/accordion";
    @import "theme/blocks/blocks";
    @import "theme/blocks/buttons";
    @import "theme/blocks/calendar";
    @import "theme/blocks/columns";
    @import "theme/blocks/cover";
    @import "theme/blocks/featured-events";
    @import "theme/blocks/headings";
    @import "theme/blocks/hero-slider";
    @import "theme/blocks/image";
    @import "theme/blocks/image-gallery";
    @import "theme/blocks/image-slider";
    @import "theme/blocks/know-more";
    @import "theme/blocks/media-text";
    @import "theme/blocks/paragraph";
    @import "theme/blocks/stats-slider";
    @import "theme/blocks/story-slider";
    @import "theme/blocks/testimonial";
}


.wp-block {
    max-width: 1280px;
}


.block-editor-block-list__block {
    margin-top: 100px;
    margin-bottom: 100px;
}