#{$el-align-full} {
	left: calc(50% - 50vw);
	// max-width: 100vw;
	position: relative;
    width: 100vw;
    > [class*="__inner-container"] {
        @extend .container;
		@include media-breakpoint-down('md') {
			padding-left: 0;
			padding-right: 0;
		}
    }
    > .wp-block-cover__inner-container {
        margin-left: 0;
        margin-right: 0;
    }
}
.alignleft {
	@include media-breakpoint-up(md) {
		float: left;
	}
}
.alignright {
	@include media-breakpoint-up(md) {
		float: right;
	}
}
.alignwide {
	@include media-breakpoint-up('xxl') {
		margin-left: -60px;
		margin-right: -60px;
	}
}