#wrapper-footer {
  background: url("../img/footer-bg.png") no-repeat left top;
  background-size: cover;
  background-origin: padding-box;
  margin-top: 100px;
  padding-bottom: 0;
  position: relative;
  &:before {
    height: 20px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: -20px;
    width: 100%;
  }
  #footer-content {
    padding-top: 38px;

    @include media-breakpoint-up('md') {
      padding-top: 135px;
    }
    @include media-breakpoint-down('sm') {
      text-align: center;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $green-dark;
      opacity: 0.95;
    }

    .footer__secondary {
      padding-bottom: 45px;
    }

    .footer-contact-details__wrapper,
    .footer-helpful-links__wrapper{
      color: $grey;
      margin-top: 40px;
      @include media-breakpoint-up('md') {
        margin-top: 0;
      }
      .footer-contact-details {
        padding-left: 0;
      }
    }

    .footer-widget__title {
      font-size: 16px;
      letter-spacing: 1.6px;
      line-height: 28px;
      margin-bottom: 15px;
      text-transform: uppercase;
      @include media-breakpoint-up('md') {
        font-size: 22px;
        letter-spacing: 2.2px;
      }
    }

  }
  .nav-link {

    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    padding-left: 0;
    @include media-breakpoint-up('md') {
      font-size: 14px;
      line-height: 1;
    }
  }
}

.footer-brand {
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  filter: brightness(0) invert(1);
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}
.footer-contact-details {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  letter-spacing: -0.19px;
  line-height: 28px;
  list-style: none;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
    font-size: 18px;
    letter-spacing: -0.21px;
    line-height: 30px;
  }
  li {
    flex-basis: 100%;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      flex-basis: auto;
    }
    &:nth-child(2):after, &:nth-child(2n+3):after {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}

.social-link__wrapper {
  display: flex;
  padding: 0 50px;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  @include media-breakpoint-up('md') {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.menu-footer__wrapper {
  border-top: 1px solid $green-light;
  margin-top: 40px;
  padding: 35px 14px 0;
  @include media-breakpoint-up('md') {
    border: none;
    margin-top: 0;
    padding: 0 15px 0 10px;
  }
  #menu-footer {
    padding-top: 5px;
    margin-left: 0;
    justify-content: center;
    @include media-breakpoint-up(md) {
      text-transform: uppercase;
      padding-top: 10px;
      margin-left: -18px;
      justify-content: left;
    }

    .nav-link {
      color: $grey;
      padding: 0 10px;
      @include media-breakpoint-up(md) {
        color: $green-light;
        text-transform: uppercase;
      }

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
#footer-social-media {
  padding-left: 0;
  padding-right: 0;
}

.footer-separator__wrapper {
  border: 1px solid $green-light;
  display: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 90px;
  margin-bottom: 20px;
  @include media-breakpoint-up('md') {
    display: block;
  }
}

.has--bg-texture {
  &:before {
    background: url("../img/texture-bg.png") no-repeat left top;
    background-size: cover;
    content: '';

    @media(-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background: url("../img/texture-bg@2x.png") no-repeat left top;
      background-size: cover;
    }
  }
}