#{$el-body} {
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: $green-dark;
    @include media-breakpoint-up(md) {
        font-size: 18px;
        line-height: 30px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.main-wrapper {
    overflow: hidden;
    padding-top: 0;
}

@include editor-wrap() {
    a {
        color: $gold-piedmont;
        font-weight: 900;
        transition: ease-out 0.2s color;
        &:hover {
            color: $gold-piedmont;
            text-decoration: underline;
        }
    }
}

.screen-reader-text { @extend .sr-only; }

.right-arrow {
    &:after {
        content: '—>';
        margin-left: 5px;
        position: relative;
    }
}

.has-a {
    &-color {
        color: $green-dark !important;
    }
    &-background-color {
        background-color: $green-dark !important;
        &.is-style-short-background {
            &:after {
                background-color: $green-dark;
            }
        }
    }
}

.has-b {
    &-color {
        color: $green-alternate !important;
    }
    &-background-color {
        background-color: $green-alternate !important;
        &.is-style-short-background {
            &:after {
                background-color: $green-alternate;
            }
        }
    }
}
.has-c {
    &-color {
        color: $green-light !important;
    }
    &-background-color {
        background-color: $green-light !important;
        &.is-style-short-background {
            &:after {
                background-color: $green-light;
            }
        }
    }
}
.has-d {
    &-color {
        color: $gold-piedmont !important;
    }
    &-background-color {
        background-color: $gold-piedmont !important;
        &.is-style-short-background {
            &:after {
                background-color: $gold-piedmont;
            }
        }
    }
}
.has-e {
    &-color {
        color: $gold-alternate !important;
    }
    &-background-color {
        background-color: $gold-alternate !important;
        &.is-style-short-background {
            &:after {
                background-color: $gold-alternate;
            }
        }
    }
}
.has-f {
    &-color {
        color: $grey !important;
    }
    &-background-color {
        background-color: $grey !important;
        &.is-style-short-background {
            &:after {
                background-color: $grey;
            }
        }
    }
}

.has-g {
    &-color {
        color: $white !important;
    }
    &-background-color {
        background-color: $white !important;
        &.is-style-short-background {
            &:after {
                background-color: $white;
            }
        }
    }
}

.has-green-white-gradient-background {
    background: linear-gradient(180deg, #cfded7 0%, #ffffff 100%) no-repeat padding-box;
}

.has-green-pearl-gradient-background {
    background: linear-gradient(180deg, #cfded7 0%, #EAE5D9 100%) 0% 0% no-repeat padding-box;
}

.has-light-green-pearl-gradient-background {
    background: linear-gradient(180deg, #96C4AF 0%, #EAE5D9 100%) 0% 0% no-repeat padding-box;
}

.has-white-green-gradient-background {
    background: linear-gradient(180deg, #F8F8F8 0%, #C8E2D6 100%) 0% 0% no-repeat padding-box;
}