.hero {
    position: relative;
    height: 141px;
    background: rgb(200,226,214);
    background: linear-gradient(0deg, rgba(200,226,214,1) 0%, rgba(248,248,248,1) 100%);

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/topo1.png);
        background-position: 100% 80%;
        opacity: 0.35;
        mix-blend-mode: multiply;
    }

    @include media-breakpoint-up(md) {
        height: 414px;
        margin-top: -122px;
    }

    &__content {
        display: flex;
        height: 100%;
        align-items: flex-end;
        z-index: 2;
        position: relative;
        padding-bottom: 18px;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }

        @include media-breakpoint-up(md) {
            padding-bottom: 64px;
        }
    }

    &__title {
        color: $green-dark !important;
        position: relative;
        padding-top: 15px;
        z-index: 1;

        @include media-breakpoint-up(md) {
            padding-top: 18px;
            font-size: 52px;
            padding-left: 11px;
            padding-right: 11px;
        }

        &::after {
            content: '';
            width: calc( 100% + 30px );
            height: 12px;
            background-color: #fff;
            position: absolute;
            bottom: 5px;
            left: -15px;
            opacity: 0.7;
            z-index: -1;

            @include media-breakpoint-up(md) {
                width: 100%;
                height: 18px;
                left: 0;
                opacity: 1;
                bottom: 10px;
            }
        }
    }

    &__image-holder {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,122,105,0) 100%);
            @include media-breakpoint-up(md) {
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(85,122,105,0) 100%);
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            z-index: 2;
        }
    }

    &__oval-menu {
        margin-top: 29px;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                flex: 0 0 135px;
                max-width: 135px;
                height: 135px;
                margin-left: 47px;
                margin-right: 47px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    color: $green-alternate;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    padding: 18px;
                    font-size: 16px;
                    font-weight: 900;
                    line-height: 1.5;
                }
            }
        }
    }

    &--slider {
        .btn {
            margin-top: 5px;
        }
        .hero__title-box {
            width: 100%;
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: left;
            }
        }
    }

    &--fullwidth {
        @include media-breakpoint-up(md) {
            height: 813px;
        }

        .hero__image-holder {
            &::before {
                background-image: none;
                background-color: rgba(#000, 0.3);
                mix-blend-mode: multiply;
            }
        }

        .hero__content {
            text-align: center;

            @include media-breakpoint-up(md) {
                padding-bottom: 134px;
                justify-content: center;
            }
        }

        .hero__title {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            color: #fff !important;
            display: inline-block;

            &::after {
                background-color: $green-alternate;
                opacity: 1;
            }
        }

        &.hero--no-oval {
            .hero__content {
                @include media-breakpoint-up(md) {
                    padding-bottom: 298px;
                }
            }
        }
    }

    &--big-image {
        @include media-breakpoint-up(md) {
            height: 810px;

            &::before {
                content: '';
                width: 100%;
                height: 355px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-image: url(../img/texture-bg.png);
                background-size: cover;
                opacity: 0.1;
            }
        }

        .hero__content {
            @include media-breakpoint-up(md) {
                padding-bottom: 457px;
            }
        }

        .hero__image-holder::before {
            background: linear-gradient(90deg,#000 0,rgba(85,122,105,0) 100%);
            opacity: 0.5;
        }

        &.hero--has-bg-image {
            @include media-breakpoint-up(md) {
                &::before {
                    height: 190px;
                    bottom: -101px;
                    z-index: 9;
                }
            }
            .hero__title {
                color: #fff !important;

                &::after {
                    background-color: $green-alternate;
                    opacity: 1;
                }
            }
        }
    }
}


.wrapper--big-image-hero {

    @include media-breakpoint-up(md) {
        padding-top: 0;
    }

    .page-wrapper-inner {
        background-color: #fff;
        @include media-breakpoint-up(md) {
            padding-top: 80px;
            padding-left: 128px;
            padding-right: 122px;
            position: relative;
            z-index: 9;
        }
    }
}