#wrapper-navbar-main {
  position: relative;
  z-index: 9;
  &.sticky-ready {
    position: sticky;
    top: -122px;
    transition: ease-out 0.2s top;
    &.sticky-active {
      top: 0;
    }
  }
}
#navbar-main {
  background: rgba(#fff, $alpha: 1.0);
  padding: 0;
  .navbar-container {
    padding: 0;
  }
  .navbar-brand {
    padding-left: 10px;
    @include media-breakpoint-up('md') {
      padding-left: 58px;
    }
    img {
      width: 180px;
      height: 53px;
      @include media-breakpoint-up(md) {
        width: 264px;
        height: 77px;
      }
    }
  }
  .nav-link {
    text-transform: uppercase;
    color: $green-dark;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: -0.32px;
    padding: 0 15px;
    &:hover {
      text-decoration: underline;
    }
  }
  .hl > .nav-link {
    color: $gold-piedmont;
    &:hover {
      color: $green-light;
    }
  }
  .navbar-nav-container {
    line-height: 30px;
    margin-right: 0;
  }

  #navbar-main-nav-desktop {
    height: 100%;
    position: absolute;
    top: 0;
    right: 233px;
    transition: all 0.3s linear;

    .menu-item {
      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }

      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }
    }
  }

  body.modal-open & .navbar-navs-container {
    background-color: $green-dark;

    #navbar-main-nav-desktop {
      right: 148px;
      .menu-item {
        &:last-child {
          display: none;
        }
      }
    }

    #navbar-main-nav-buttons {
      @include media-breakpoint-up('md') {
        border-right: 1px solid $green-alternate;
        margin-right: 500px;
      }
    }

    .nav-link {
      color: $green-light;
    }

    .btn-hl-icon {
      .menu__label {
        @include media-breakpoint-up('md') {
          color: $green-light;
        }
      }
    }
  }

}
#navbar-main-btn-search button {
  border: none;
  background: none;
  color: $green-light;
  padding-left: 15px;
  padding-right: 15px;
  transition: ease-out 0.2s color;
  &:hover {
    text-decoration: underline;
  }
}
#navbar-main-btn-slide-in-menu {
  padding-left: 0;
  padding-right: 0;
}

#wrapper-footer {
  #menu-helpful-links-main {
    flex-direction: column;
    margin-bottom: 20px;

    @include media-breakpoint-up('md') {
      margin-bottom: 0;
    }

    .nav-link {
      color: $gold-piedmont;
      font-size: 1em;
      padding: 5px 0;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}