@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?brr4yn') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?brr4yn') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?brr4yn##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cps-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cps-icon-menu:before {
  content: "\e900";
}
.cps-icon-zag:before {
  content: "\e901";
}
.cps-icon-youtube-play:before {
  content: "\e902";
}
.cps-icon-twitter:before {
  content: "\e903";
}
.cps-icon-facebook-square:before {
  content: "\e904";
}
.cps-icon-instagram:before {
  content: "\e905";
}
.cps-icon-linkedin-square:before {
  content: "\e906";
}
.cps-icon-zoom:before {
   content: "\e907";
}
.cps-icon-expando-icon:before {
  content: "\e908";
}
.cps-icon-cross-gold:before {
  content: "\e909";
}

