$icomoon-font-family: "piedmont" !default;
$icomoon-font-path: "fonts" !default;

$cps-icon-menu: "\e900";
$cps-icon-zag: "\e901";
$cps-icon-youtube: "\e902";
$cps-icon-twitter: "\e903";
$cps-icon-facebook: "\e904";
$cps-icon-instagram: "\e905";
$cps-icon-youtube: "\e906";
$cps-icon-zoom: "\e907";
$cps-icon-expando-icon: "\e908";
$cps-icon-cross-gold: "\e909";
