.breadcrumb-holder {
    margin-top: -46px;
    position: relative;
    z-index: 9;

    @include media-breakpoint-down(sm) {
        margin-top: 0;
        position: absolute;
        top: 88px;
        left: 0;
        .admin-bar & {
            top: 135px;
        }
    }

    .container {
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        // padding: 22px 0px 15px;
        position: relative;
        z-index: 1;
        
        @include media-breakpoint-up(md) {
            padding: 36px 37px 20px 28px;
            background-color: rgba( $green-dark, 0.9 );

            &::after {
                content: '';
                width: 100%;
                height: calc(100% + 22px);
                position: absolute;
                top: 0;
                left: 0;
                background-image: url(../img/texture-bg.png);
                z-index: -1;
                opacity: 0.2;
            }
        }

    }

    .breadcrumb {
        background: transparent;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: $green-dark;

       
        
        @include media-breakpoint-up(md) {
            color: #fff;
            font-size: 16px;
            border-bottom: 1px solid #fff;
        }

        a {
            font-weight: 400;
            color: $green-dark;
            text-decoration: underline;
            
            @include media-breakpoint-up(md) {
                text-decoration: none;
                color: #fff;
            }
        }
        .breadcrumb-item {
            color: $green-dark;
            @include media-breakpoint-up(md) {
                color: #fff;
            }

            &.active {
                color: $green-dark;
                @include media-breakpoint-up(md) {
                    color: #fff;
                }
            }

            + .breadcrumb-item {
                &::before {
                    content: '>';
                    color: $green-dark;

                    @include media-breakpoint-up(md) {
                        color: #fff;
                    }
                }
            }
        }
    }

    &--hero-style-fullwidth {
        
        @include media-breakpoint-up(md) {
            margin-top: -87px;
            background-color: rgba( $green-dark, 0.9 );
        }

        .breadcrumb-holder__inner {
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;

            &::after {
                top: 100%;
                width: 100vw;
                height: 22px;
                margin-left: calc( 50% - 50vw );
            }
        }

        .breadcrumb {
            a {
                color: #fff;
            }
            .breadcrumb-item {
                color: #fff;
    
                &.active {
                    color: #fff;
                }
    
                + .breadcrumb-item {
                    &::before {
                        color: #fff;
                    }
                }
            }
        }
    }

    &--hero-style-big-image {
        @include media-breakpoint-up(md) {
            margin-top: -442px;
        }

        .breadcrumb-holder__inner {
            &::after {
                height: 100%;
            }
        }
        
        &:not(.breadcrumb-holder--hero-has-bg-image) {
            .breadcrumb-holder__inner {
                &::after {
                    display: none;
                }
            }
        }

        &.breadcrumb-holder--hero-has-bg-image {
            .breadcrumb {
                a {
                    color: #fff;
                }
                .breadcrumb-item {
                    color: #fff;
        
                    &.active {
                        color: #fff;
                    }
        
                    + .breadcrumb-item {
                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb-menu {
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 30px;
            
            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}