%btn,
.btn {
    border: none;
    border-radius: 0;
    background: $gold-piedmont;
    color: $green-dark;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 20px;
    max-width: 100%;
    padding: 15px 26px;
    position: relative;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    &:hover, &:focus {
        background: $gold-hover;
        color: $green-dark;
        text-decoration: none;
    }
}

%btn-basic,
.btn-basic {
    @extend .btn;
    background-color: transparent;
    border: 4px solid $gold-piedmont;
    color: $gold-piedmont;
    padding: 11px 26px;
    @if($editor) {
        display: block;
    }
}

%btn-styled,
.btn-styled {
    @extend .btn-basic;

    &:after {
        content: '—>';
        margin-left: 5px;
        position: relative;
    }

    &:hover, &:focus {
        background: transparent;
        border: 4px solid $green-dark;
        color: $green-dark;
    }
}

.btn-hl-icon {
    border: none;
    background: $green-dark;
    font-size: 18px;
    color: $gold-alternate;
    transition: ease-out 0.2s background-color;
    padding: 25px 27px;

    @include media-breakpoint-up('md') {
        padding: 40px 52px;
    }

    .modal-header & {
        padding: 0 5px;
    }
    &:hover {
        color: $green-light;
    }
    i {
        display: inline-block;
        font-size: 20px;
        margin-top: 0;
        @include media-breakpoint-up(md) {
            font-size: 17px;
            margin-top: 7px;
        }

        &.cps-icon-cross-gold {
            font-size: 20px;
            margin-top: 0;
        }
    }

    .menu__label {
        display: none;
        @include media-breakpoint-up('md'){
            display: inline-block;
        }
    }
}


%btn-row {
    //margin-right: 35px;
    @include media-breakpoint-up(md) {
        margin: 7px;
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}
.btn-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(md) {
        flex-flow: row wrap;
    }
}
.btn-row .btn {
    @extend %btn-row;
}