.content-sidebar {
    @if($editor == false) {
        @extend .row;
    }
    > div {
        //@extend %block-column;
    }
    .content-sidebar__sidebar {
        h5 + [class*='wp-block'] {
            margin-top: 10px;
            @include media-breakpoint-up(md) {
                margin-top: 10px;
            }
        }
        > [class*='wp-block'] {
            margin-top: 0px;
            margin-bottom: 30px;
            @include media-breakpoint-up(md) {
                margin-top: 0px;
                margin-bottom: 60px;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.content-sidebar__sidebar {
    order: 999;
    @include media-breakpoint-up('md') {
        order: initial;
    }
    @if($editor == false) {
        &:not([class*='col-']) {
            @extend .col-12;
            @extend .col-md-5;
            @extend .col-xl-3;
        }
    }
    p {
        font-family: 'Roboto Condensed', sans-serif;
    }
}
.content-sidebar__content {
    @if($editor == false) {
        &:not([class*='col-']) {
            @extend .col-12;
            @extend .col-md-7;
            @extend .col-xl-9;
        }
    }
    ul {
        @include media-breakpoint-up('md') {
            padding-left: 50px;
        }
    }
    .post-list {
        padding-left: 0;
    }
}

@if($editor == true) {
    .wp-block-cps-content-sidebar > .block-editor-inner-blocks > .block-editor-block-list__layout {
        display: flex;
    }
    [data-type="cps/content-sidebar-sidebar"] {
        width: 25%;
        padding-right: 20px;
    }
    [data-type="cps/content-sidebar-content"] {
        width: 75%;
        padding-left: 20px;
    }
}