.featured-event {
    .featured-event__thumb {
        position: relative;
        margin-bottom: 40px;

        @include media-breakpoint-up(md) {
            margin-bottom: 65px;
        }

        img {
            width: 100%;
        }
    }

    .featured-event__tag {
        position: absolute;
        bottom: -21px;
        left: 14px;
        font-size: 24px;
        line-height: 1;
        color: #fff;
        font-weight: 900;
        z-index: 1;
        padding: 12px 11px;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: $green-dark;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .featured-event__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $green-dark;
    }

    .featured-event__date {
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
    }

    .featured-event__more {
        margin-top: 20px;
    }

    .featured-event__more-link {
        font-weight: 800;
    }
}