.frm-dropdown {

    button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        font-size: 18px;
        color: $green-dark;
        width: 100%;
        text-align: left;
        font-weight: 500;

        &[data-toggle="dropdown"] {
            position: relative;

            &::after {
                content: '';
                width: 0;
                height: 0;
                border-width: 14px 8px 0px;
                border-style: solid;
                border-color: rgba( $green-lighter, 0.75 ) transparent transparent transparent;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -7px;
                transition: transform 0.2s ease-in;
            }
        }
    }

    .current {
        display: none;
    }
    &.selected {
        .default {
            display: none;
        }
        .current {
            display: block;
        }
    }
    &.show {
        button {
            &[data-toggle="dropdown"] {
                &::after {
                    transform: rotate(-60deg);
                }
            }
        }
    }
    .dropdown-menu {
        right: 0;
        margin-top: 0;
        // border-bottom: 4px solid $light-grey;
        // background-color: $very-light-pink;
        padding: 15px;
        margin-top: 0;
    }
    .dropdown-item {
        padding: 0;
        button {
            background: none;
            padding: 0;
            border: none;
            line-height: 30px;
            display: block;
            width: 100%;
            text-align: left;

            &:hover {
                background-color: transparent;
                color: $green-dark;
            }
        }
        &:hover {
            background-color: transparent;
            color: $green-dark;
        }
    }
}