@include editor-wrap() {
    h1:not(.h),
    .h1 {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -0.38px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: $white;
        @include media-breakpoint-up('md') {
            font-size: 52px;
            line-height: 74px;
            letter-spacing: -0.62px;
        }
    }

    h2:not(.h),
    .h2 {
        font-size: 32px;
        font-weight: normal;
        letter-spacing: -0.38px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: $green-dark;
        small {
            font-weight: normal;
            font-size: inherit;
        }
        @include media-breakpoint-up('md') {
            font-size: 60px;
            line-height: 70px;
            letter-spacing: -0.71px;
        }
    }
    /*
    h2:not(.h),
    .h2 {
        color: $navy;
    }
    */
    h3:not(.h),
    .h3 {
        color: $green-dark;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.28px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        @include media-breakpoint-up('md') {
            font-size: 32px;
            letter-spacing: -0.38px;
            text-align: left;
        }
    }
    h4:not(.h),
    .h4 {
        color: $dark-10-grey;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 33px;
        margin-top: 26px;
        margin-bottom: 26px;
        @include media-breakpoint-up('md') {
            font-size: 32px;
        }
    }
    h5:not(.h),
    .h5 {
        color: $dark-20-grey;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 36px;
        margin-top: 26px;
        margin-bottom: 26px;
        @include media-breakpoint-up('md') {
            font-size: 24px;
            font-weight: 900;
            letter-spacing: -0.28px;
        }
    }

    h6:not(.h),
    .h6 {
        color: $dark-10-grey;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.6px;
        line-height: 28px;
        margin-top: 26px;
        margin-bottom: 26px;
        position: relative;
        padding-top: 15px;
        text-transform: uppercase;
        @include media-breakpoint-up('md') {
            font-size: 22px;
            letter-spacing: 2.2px;
        }
    }

    /*
    .h--bottom-line {
        text-align: center;
        position: relative;
        font-size:30px;
        font-weight: 500;
        margin-bottom: 42px;
        @include media-breakpoint-up(md) {
            font-size:40px;
        }
        @if($editor == false) {
            &::after {
                @extend %h-line;
                bottom: -20px;
            }
        }
    }
    */
}

.h--modal-header {
    font-size: 19px;
    line-height: 21px;
    font-weight: 900;
    color: $green-alternate;
    text-transform: uppercase;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #e1dedd;
    margin-top: 48px;
    @include media-breakpoint-up(md) {
        font-size: 32px;
        line-height: 36px;
    }
}

.h--has-separator {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
    @include media-breakpoint-up(md) {
        padding-bottom: 30px;
        margin-bottom: 30px !important;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -38px;
        width: 76px;
        height: 5px;
        pointer-events: none;
        background-color: $red;
        bottom: 0;
        @include media-breakpoint-up(md) {
            margin-left: -48px;
            width: 96px;
            height: 6px;
        }
    }
}

/*
.sidebar-title {
    color: $peacock-blue;
    text-transform: uppercase;
    font-size: 18px;
    margin: 23px 0px 13px 20px;
    font-weight: bold;
    letter-spacing: 3px;
}
*/


%h-line {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 1px;
    pointer-events: none;
    background-color: currentColor;
}