.helpful-links {
    text-align: center;
    @include media-breakpoint-up(md) {
        text-align: left;
    }
    li {
        flex-basis: 50%; 
    }
    .nav-link {
        padding-left: 0;
    }
}
.helpful-links--modal {
    text-align: left;
    margin-top: 12px;
    .nav-link {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 33px;
        }
    }
}