ul {
  &.is-style-piedmont {
    color: $green-light;
    list-style: none;
    text-align: center;
    li {
      line-height: 32px;
      a {
        color: $green-light;
        font-weight: normal;
      }
    }
    @include media-breakpoint-up('md') {
      text-align: left;
    }
  }
}