.post-list {
    &__post {
        padding-bottom: 20px;
        margin-bottom: 36px;
        border-bottom: 1px solid $grey-border;
    }

    &__date {
        background-color: rgba( $copper-bg, 0.08 );
        color: $gold;
        width: 96px;
        padding: 11px 9px;
        font-size: 30px;
        line-height: 23px;
        font-weight: bold;
        margin-right: 11px;

        @include media-breakpoint-up(md) {
            margin-right: 20px;
        }

        span {
            display: block;
            font-size: 16px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 30px;
        color: $green-dark;
        font-weight: 700;
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            font-size: 24px;
        }

        a {
            color: inherit;
        }
    }

    &__content {
        font-size: 16px;
        line-height: 1.5;
        color: $green-dark;
        margin-bottom: 18px;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__button {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }

    &__meta {
        font-size: 16px;
        line-height: 1.5;

        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
    }

    &__meta-details {
        padding-left: 3px;
        display: inline-block;
    }

    &__meta-details-link {
        margin-left: 3px;
        display: inline-block;
        font-weight: normal;
        color: $green-dark;
    }

    &__more-link {
        font-weight: bold;
    }

    &--has-date {
        .post-list__post {
            display: flex;
        }
        .post-list__title {
            margin-top: 8px;
            margin-bottom: 0px;
            @include media-breakpoint-up(md) {
                margin-bottom: 5px;
            }
        }
    }

    .wp-block-button__link {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: auto;
        }
    }

    &--browser {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: -25px -40px;

        .post-list__post {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 25px 40px;
            border-bottom: none;
            margin-bottom: 0;
            
            @include media-breakpoint-up(lg) {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 36px;
            }
        }
    
        .post-list__post-thumb {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 20px;
            
            @include media-breakpoint-up(md) {
                flex: 0 0 171px;
                max-width: 171px;
                padding-right: 21px;
                margin-bottom: 0;
            }

            img {
                // height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;

                @include media-breakpoint-up(md) {
                    height: 100%;
                }
            }
        }
    
        .post-list__post-content {
            flex: 1;
            max-width: 100%;
            border-bottom: 1px solid #B4B4B4;
            padding-bottom: 18px;
        }

        .post-list__title {
            display: inline-block;
            margin-bottom: 15px;
        }


        + .articles-browser__more {
            margin-top: 25px;

            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }
}
