.social-icons--footer {
    margin-bottom: 25px;
    justify-content: center;

    @include media-breakpoint-up('md') {
        margin-bottom: 0;
    }

    .social-icons__item {
        .social-icons__link {
            color: $green-lighter;
            display: inline-block;
            margin-right: 25px;
            overflow: hidden;
            text-align: center;
            transition: ease-out 0.2s background-color;
            @include media-breakpoint-between('md', 'lg') {
                margin-right: 13px;
            }

            &:hover {
                text-decoration: none;
            }
        }

        .social-icons__icon {
            font-size: 1.5em;
            line-height: 1;
            @include media-breakpoint-between('md', 'lg') {
                font-size: 1.3em;
            }
        }

        @include media-breakpoint-down('sm') {
            &:last-child {
                .social-icons__link {
                    margin-right: 0;
                }
            }
        }
    }
}
.social-icons__text {
    margin-bottom: 20px;
    @include media-breakpoint-up('md') {
        margin-bottom: 0;
    }
    .social-icons__link {
        color: $gold-alternate;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.8;
        text-transform: uppercase;
    }
}