.events-cat-picker {
    margin-bottom: 45px;
}

.wp-calendar-plus {
    width: 100%;
    //border: 1px solid $light-peach;
    text-align: center;
    font-weight: bold;
    line-height: 26px;
    caption {
        //@extend %h5;
        caption-side: top;
        //border: 1px solid $light-peach !important;
        border-bottom: none !important;
        text-align: center;
        margin-bottom: 0 !important;
        padding: 5px;
    }
    th {
        color: #b3b3b3;
    }
    td, th {
        padding: 5px;
    }
    tbody {
        //background-color: $light-peach;
        a {
            line-height: 26px;
            //color: $red;
            display: inline-block;
            min-width: 26px;
            &:hover, &:active {
                //background-color: $red;
                color: #fff;
                border-radius: 12px;
            }
        }
    }
    tbody, thead {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
    }
}
.calendar_wrap {
    > *:last-child {
        display: none;
    }
}