.modal-backdrop, .modal {
  @include media-breakpoint-up('md') {
    top: 111px;
    bottom: 0;
    height: initial;
  }
  .modal-content {
    background-color: $green-dark;
    border: none;
  }
  #modal-slide-in-menu {
    .modal-dialog {
      height: 100%;
    }
  }

}

body.modal-open {
  .modal-backdrop {
    background: none;
    opacity: 1;
  }
}

#navbar-main-btn-slide-in-menu > button {
  body:not(.modal-open) & .cps-icon--close {
    display: none;
  }

  body.modal-open & .cps-icon--hamburger {
    display: none;
  }
}

#modal-search {
  align-items: center;
  bottom: 0;
  height: initial;

  .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .modal-content {
    margin-top: -10%;
  }

  .search-form {
    border-bottom: 1px solid #e1dedd;

    .form-control {
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #f5f2f2;

      &::placeholder {
        color: #f5f2f2;
        text-transform: uppercase;
      }
    }

    button {
      color: #e1dedd;

      i {
        font-size: 30px;
      }
    }
  }
}

#modal-slide-in-menu {
  .modal-header {
    border: none;
    padding-right: 35px;
    @include media-breakpoint-up('md') {
      @include sr-only;
    }

    button {
      float: right;
      margin: 0 0 0 auto;
    }
  }

  .modal-dialog {
    background-color: $green-dark;
    height: 100%;
    @include media-breakpoint-up('md') {
      max-width: 500px;
    }
  }

  .modal-content {
    @include media-breakpoint-up('md') {
      min-height: calc(100vh - 122px);
    }
  }

  .modal-body {
    padding: 0 20px 100px;
    @include media-breakpoint-up('md') {
      padding: 13px 56px;
    }
  }

  .search-form {
    border-bottom: 6px solid $green-light;
    letter-spacing: -0.21px;

    .form-control {
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      padding: 10px 0 0;
      color: $green-light;

      &::placeholder {
        color: $green-light;
        font-weight: 500;
        line-height: 30px;
        opacity: 1;
      }
    }

    button {
      padding: 0;
      color: $green-light;

      i {
        font-size: 20px;
        margin-right: 5px;
        vertical-align: bottom;
      }
    }
  }

  #nav-main-extended {
    margin-bottom: 50px;
    @include media-breakpoint-up('md') {
      margin-bottom: 70px;
    }

    .menu-item {
      border-bottom: 1px solid $green-light;
      .nav-link {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        color: $green-light;
        letter-spacing: -0.26px;
        padding: 30px 0 10px;
        @include media-breakpoint-up('md') {
          font-size: 30px;
          letter-spacing: -0.36px;
          line-height: 40px;
          padding: 32px 0;
        }
      }

      .dropdown-toggle {
        &:after {
          float: right;
          margin-top: 10px;
          opacity: 0.25;
        }
      }
      .collapse-menu {
        margin-bottom: 20px;
        padding-left: 0;
        @include media-breakpoint-up('md') {
          margin-bottom: 40px;
        }
        .menu-item {
          border: none;
        }
        .dropdown-item {
          color: $green-light;
          font-size: 18px;
          line-height: 35px;
          padding-left: 0;
          padding-bottom: 0;
          @include media-breakpoint-up('md') {
            font-size: 24px;
            line-height: 44px;
          }
          &:focus, &:hover {
            background: transparent;
            text-decoration: underline;
          }
        }
      }

    }
  }

  .nav__title {
    color: $green-light;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.24px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  #nav-main-info,
  #navbar-main-nav-mobile {
    .nav-link {
      color: $green-light;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -0.21px;
      line-height: 37px;
      padding: 0;
      @include media-breakpoint-up('md') {
        font-size: 20px;
        letter-spacing: -0.21px;
        padding: 0.25em 0;
      }
    }
  }

  #navbar-main-nav-mobile {
    margin-left: 100px;
    .menu-item {
      &:last-child {
        display: none;
      }
    }
  }

}

.search-form {
  border-bottom: 1px solid #e1dedd;

  .form-control {
    flex-grow: 1;
    background: transparent;
    border: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  button {
    border: none;
    background: transparent;
    transition: ease-out 0.2s color;

    &:hover {
      color: $green-light;
    }
  }
}