.posts-browser {
    transition: opacity 0.2s ease-in;
}
.posts-browser--loading {
    opacity: 0.75;
    [data-query-arg], [data-action] {
        cursor: wait !important;
    }
}

.posts-browser {
    &__nav {
        margin-bottom: 25px;
        align-items: flex-start;

        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 64px;
        }
    }

    &__cat-picker {
        min-width: 190px;
        border-bottom: 2px solid $green-lighter;
    }

    &__heading {
        margin-bottom: 15px;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
}